**/.ipynb_checkpoints
**/.pytest_cache
**/.idea
**/.cache
**/*.csv
**/*.zip
**/data/*.*
**/data/**/*.*
**/*.xlsx
**/*.def
**/shapefiles/*.*
**/*.dat
**/*.pyc
**/*.tmp
*.log
*.omx
*.prn
*.txt
*.csv
*.dat
*.png
*.obj
*.exp
*.lib
*.c
*.pyd
*.itf